.form-container
{
	padding:30px 30px 30px 30px;
	margin-top:25px;
	border-radius:10px;
	box-shadow:0px 0px 10px 0px;
}
.navbar-color 
{
	background-color:#337AB7;
	color:white;
	border-radius:0px;
	
}  /* used in welcome1.php and studentreport1.php navigation bar */

.color-mygreen 
{
	background-color:#90C81F;
	/* background-color: #5CB85C; */
	color:white;
	border-radius:0px;
	
}

ul.dropdown-menu li a:hover, ul.nav.navbar-nav.navbar-right > li > a:hover , body > nav > div > div > ul:nth-child(1) > li > a:hover{
	background-color:#337AB7;
	color:white;
}

.text-large {
  font-size: 125%;
}

.navbar-nav.navbar-center{
    position: absolute;
    left: 50%;
	transform: translatex(-50%);
} /* used in welcome1.php navigation bar */

a:hover{
	/*background-color:white;*/
	color:#337AB7;
}

select option
{
	margin-bottom: 20px;
}